In [2]:
#Imports
import pandas as pd
import numpy as np
import random

In [3]:
#Create dataframe
df = pd.DataFrame(np.array([[1,2,3], [4,5,6,], [7,8,9]]), columns=['a', 'b', 'c'])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
#Apply the transform function
df1 = df.transform(func = lambda x:x *10)
df1

    a   b   c
0  10  20  30
1  40  50  60
2  70  80  90

In [5]:
#Create larger dataframe
data = pd.DataFrame({
    'C' : [random.choice(('a', 'b', 'c')) for i in range(1000000)],
    'A' : [random.randint(1,10) for i in range (1000000)],
    'B' : [random.randint(1,10) for i in range (1000000)]
})

In [6]:
data.head()

   C  A  B
0  b  2  4
1  a  6  5
2  c  8  1
3  c  9  9
4  a  3  8

In [13]:
#%%timeit

data.groupby('C')["A"].mean()
mean = data.groupby('C')["A"].mean().rename("N").reset_index()
df_1 = data.merge(mean)

#mean
#df_1

In [8]:
data.head()

   C  A  B
0  b  2  4
1  a  6  5
2  c  8  1
3  c  9  9
4  a  3  8

In [18]:

data2 = data.copy()

NameError: name 'data3' is not defined

In [19]:
%%timeit
data2['N'] = data2.groupby(['C'])['A'].transform('mean')
#data2

97 ms ± 11.2 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)