In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("~/Documents/FCR/class/03-Python-Pandas/2/Activities/02-Stu_Reading_CSVs/Resources/amd_stock_data.csv")

In [13]:
df.head(10)

   4/29/09  3.51  11537950   3.4  3.56  3.38
0  4/30/09  3.61  18193730  3.55  3.73  3.53
1   5/1/09  3.82  16233940  3.55  3.90  3.55
2   5/4/09  4.26  21236940  3.90  4.30  3.83
3   5/5/09  4.32  16369170  4.36  4.39  4.11
4   5/6/09  4.31  15075630  4.45  4.45  4.12
5   5/7/09  4.01  23369680  4.22  4.35  3.91
6   5/8/09  3.93  14316080  4.12  4.15  3.84
7  5/11/09  4.22  25214610  3.90  4.37  3.87
8  5/12/09  4.35  29715910  4.41  4.50  4.13
9  5/13/09  4.38  35462450  4.36  4.67  4.33